---
import Layout from '../layouts/Layout.astro';
import mountLandingUrl from '../scripts/mountLanding.ts?url';
---

<Layout title="DuoEye - 多邻国学习数据仪表盘">
  <div id="landing-root"></div>
  <script type="module" src={mountLandingUrl}></script>
</Layout>
